button:hover {
    background-color: green;  /* Darken button on hover */
}
button {
    background-color: rgb(0, 189, 0);
}
body{
    background-color: blueviolet;
    color: #F1A800;
}
input {
    border: 2px solid #000000; /* Change the color, width, and style */
    border-radius: 5px; /* Optional: Adds rounded corners */
  }
  button{
    border-style: groove;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid;
    font-family: monospace;
  }
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8a2be2;
    padding: 10px; /* Optional */
  }
  hr {
    border: 2px solid #F1A800;
    border-style: double;
  }
  .center {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    text-align: center; /* Ensures text inside is centered */
  }
  b {
    font-size: 25px;
    font-family: monospace;
    color: #F1A800;
  }
  h1 {
font-family: monospace;
font-size: 35px;
color: #F1A800;
  }
  body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure full page height */
}
.square {
  background-color: #F1A800;
  color: #8a2be2 !important;
  font-size: 25px;
  z-index: -1;
}